body {
    background-image: url(backk.jpg);
    background-repeat: no-repeat;
    background-position: cover;
    background-size: cover;
    background-attachment: fixed;
    margin: 0;
    background-color: #00000000;
}

@font-face {
    font-family: 'Rengard';
    src: url('./rengard-font/RengardfreeRegular-JR3MB.otf') format('truetype');
    /* o .otf y 'opentype' */
    font-family: 'Bellagia';
    src: url(./bellagia-font/BellagiaDisplayThin-x32Mj.ttf) format('truetype');
}

/*inicio*/

.oneB {
    border-radius: 0.5rem;
    background-color: #cbddb5e8;
    display: flex;
    text-align: center;
    font-size: medium;
    margin-left: 2rem;
    margin-right: 2rem;
}

.lorem {
    padding: 1.5rem;
}

/*Prompts*/

.oneA {
    border-radius: 2%;
    margin-left: 8%;
    margin-right: 8%;
    text-align: center;
    background-color: #cbddb5e8;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
    /* Sombra opcional */
    transition: transform 0.2s, -webkit-transform 0.2s;
    -webkit-transition: -webkit-transform 0.2s;
    /* Suavidad de la animación */
    cursor: pointer;
}

.oneA:hover {
    transform: scale(1.007);
    /* más ceros detrás del 1 = menos (%) zoom */
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.25);
    /* Sombra más pronunciada al hacer hover */

}

#one {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: x-large;
    padding-top: 2%;
    padding-bottom: 1%;
}

#two {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: x-large;
    padding-top: 2.5%;
    padding-bottom: 1%;
}

#three {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: x-large;
    padding-top: 2.5%;
    padding-bottom: 1%;
}

#four {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: x-large;
    padding-top: 2.5%;
    padding-bottom: 1%;
}

.oneText {
    font-size: large;
    padding-left: 1.5%;
    padding-right: 1.5%;
}

.img1 {
    width: 100%;
    height: auto;
    padding: 4%;
    border-radius: 4%;
}

.subText {
    background-color: #93a87e;
    font-style: oblique;
    width: 97%;
    width: 100%;
}

.subtextOne {
    padding: 2%;
}

/*NavBar*/

.navbarTop {
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    background-color: rgba(245, 245, 245, 0.89);
}

.list {
    list-style: none;
    display: inline-flex;
    align-items: center;
    gap: 2rem;
    flex-wrap: wrap;
}

.indice {
    padding-top: 0.4rem;
    padding-right: 1rem;
    display: flex;
    text-decoration: solid;
    color: black;
    font-size: 1.6rem;
    font-family: 'Bellagia', sans-serif;
    font-weight: 800;
}

a {
    color: #7b8d6a;
    transition-property: color, background-color;
    /* O la propiedad que quieras animar */
    transition-duration: 0.35s;
    /* Duración de la transición, más alto = más lento */
    transition-delay: 0.35s;
    /* Espera 0.35 segundos antes de empezar la transición */
}

.navItem {
    padding-top: 0.9rem;
    font-weight: 500;
}

.navLink {
    text-decoration: solid;
    color: black;
    font-family: 'Rengard';
}

.navLink:hover {
    color: #93a87e;
}

.indice:hover {
    color: #7b8d6a;
    transition-delay: 100000s;
}

@media (max-width: 600px) {

    #one {
        font-size: medium;
        padding-top: 6%;
    }

    #two {
        font-size: medium;
        padding-top: 6%;
    }

    #three {
        font-size: medium;
        padding-top: 6%;
    }

    #four {
        font-size: medium;
        padding-top: 6%;
    }

    .oneText {
        font-size: small;
        padding-left: 5%;
        padding-right: 5%;
    }

    .subText {
        font-size: smaller;
    }

    .list {
        gap: 0.5rem;
        font-size: 0.7rem;
    }

    .indice {
        padding-top: 0.2rem;
        padding-right: 1rem;
        font-size: 0.8rem;
    }

    .lorem {
        font-size: small;
    }
}

/*
